{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Entry
{% endblock %}

{% block body %}
    <h1>Create new entry</h1>

    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <label for="title">Enter the title of the new entry: </label>
        <input type="text" name="title">
        <br/>
        <label for="mdown">Enter the Markdown content of your new entry:</label>
        <textarea name="mdown"></textarea>
        <br/>
        <input type="submit" value="Submit new entry">
    </form>
{% endblock %}